mixin svg(id)
    svg(class='icon icon__' + id)
        use(xlink:href='/assets/img/sprite.svg#' + id)

mixin button(type, href, className, text)
    if type === 'link'
        a(class=`btn btn__link ${className}` href='href')
            +svg('link')
            |#{text}
    else
        a(class=`btn btn__link ${className}` href='href') #{text}

mixin testimonial(data)
    each item in data
        .testimonial-item
            .testimonial-item__text #{item.text}
            .testimonial-item__user
                .testimonial-item__user-photo
                    img.testimonial-item__user-photo-img(src=item.img alt=item.name)
                .testimonial-item__user-info
                    .testimonial-item__user-name #{item.name}
                    .testimonial-item__user-description #{item.description}

mixin skills (data)
    .skill
        .skill__name #{data}
        svg(class="skill__circles g-circles" width="125" height="125")
            <circle r="51" cx="61" cy="61" stroke="#ccc" fill="none" />
            <circle r="51" cx="61" cy="61" transform="rotate(-90 61 61)" class="sector" />

mixin preloadersvg (percents)
    svg.preloader__animation
        <circle opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new    " cx="72" cy="71.999" r="70"/>
        <circle opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new    " cx="72" cy="72" r="55"/>
        <circle fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40"/>
        <text class='preloader__percents ' transform="matrix(1 0 0 1 51.5391 79.0127)" fill="#FFFFFF" font-family="'ArialMT'" font-size="24">#{percents}</text>